body {
  font-family: 'Noto Sans', Sans-Serif;
  height: 100%;
  font-size: calc(12px + 2 * ((100vw - 320px) / 880));
}

h1, h2, h3 {
  align-items: center;
  text-align: center;
}

#power {

}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.power-table {
  border-width: 4px;
  border-style: groove;
}

.power-table > .power-row {
}

.power-table > .power-row > .empty {
}

.power-table > .power-row > .square {
  text-align: center;
  font-size: 40pt;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  width: 80px;
  height: 80px;
}

.power-table > .power-row > .black-square {
  background-color: gray;
}

.power-table > .power-row > .white-square {

}

.power-table > .power-row > .square.white-square.valid-move {
  background-color: rgba(85, 107, 47, 0.25);
}

.power-table > .power-row > .square.black-square.valid-move {
  background-color: rgba(85, 107, 47, 0.5);
}

.power-table > .power-row > .white-piece {
}

.power-table > .power-row > .black-piece {
}

.power-table > .power-row > .src-piece {
  border-color: cornflowerblue;
}


.power-table > .power-row > .dst-piece {
  border-color: blue;
}

.power-table > .power-row > .selected-piece {
  border-color: green;
}

.power-table > .power-row > .square > .piece-power-container {
  position: relative;
  width: 0;
  height: 0;
}

.power-table > .power-row > .square > .piece-power-container > .piece-power {
  position: absolute;
  font-size: 12pt;
  left: 2px;
  top: -15px;
}

.power-table > .power-row > .square > .piece-power-container > .piece-power.weak {
  color: crimson;
}

.power-table > .power-row > .square > .piece-power-container > .piece-power.strong {
  color: forestgreen;
}

.battletooltip-container {
  position: relative;
  width: 0;
  height: 0;
}

.battletooltip-container .battletooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12pt;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: -20px;
  bottom: 72px;
}

.square:hover .battletooltip {
  visibility: visible;
  display: block;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  /* boxing */
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
  box-sizing: border-box;
  padding: 7.5725px;
  /* border */
  border-width: 2px;
  border-radius: 3px;
  border-style: outset;
  /* text & font */
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 400;
}

.modal {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.game-result {
  border-width: 4px;
  border-style: groove;
  padding: 10px;

  vertical-align: middle;
  text-align: center;

  font-size: 30pt;
  font-family: 'Roboto';
}

.thinking {
  border-width: 4px;
  border-style: groove;
  padding: 10px;

  vertical-align: middle;
  text-align: center;

  font-size: 12pt;
  font-family: 'Roboto';

  opacity: 0.75
}

/* style for the help modal */
.help-modal {
  max-width: 400px;
  border-width: 4px;
  border-style: groove;
}

.piece-moves {
  width: fit-content;
  margin: 0;
}

.piece-moves-title {
  width: 100%;
  text-align: center;
}

.all-pieces-moves {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moves-table {
  border: 2px solid gray;
  text-align: center;
  vertical-align: middle;
}

.moves-table td {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.moves-table tr:nth-child(odd) > td:nth-child(even) {
  background-color: gray;
}

.moves-table tr:nth-child(even) > td:nth-child(odd) {
  background-color: gray;
}

.knight-skip {
  color: blue;
}
